<div class="container py-5">
    <div class="row justify-content-between align-items-center">
        <div class="col-md">
            <a href="#"><img src="../assets/imgs/about-img.svg" class="img-fluid"></a>
        </div>
        <div class="col-md p-5">
            <h2>Learn The basics</h2>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature
                from 45 BC, making it over 2000 years old. Richard McClintock
            </p>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form,
                by injected humour, or randomised words which don't look even slightly believable.
            </p>
            <a href="#" class="btn btn-primary mt-3"><i class="bi-chevron-right"></i> Read More</a>
        </div>
    </div>
</div>